*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

 body{
      background-color: var(--color-blue);
  }
.home-page {
  height:100vw;
  height: 100vh;
  /* background: var(--color-blue); */
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 15px; 
  
 
}

.home-page h1{
 color: white;
 margin-top: 100px;
 font-size:42px;
 font-weight: bold;

}

.Cards{
 background-color: #6AD3F4;
    height:200 px;
    width: 500px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;

}
.Cards p {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 4px;
    padding: 10px;
}
.btn-voltar {
    position: absolute;
    top: 20px;
    left: 20px;

    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;

    color: white;
    background: #003b73;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-voltar:hover {
    opacity: 0.8;
}
