*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
.registro-page {
  height:100vh;
  background: var(--color-blue);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.registro-container {
   background: #6AD3F4;
  padding: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; 
  border-radius: 10px;
  width: 1550px;
  height: 850px;
  margin: 150px 150px;
}

.section h2{
    color: black;
    font-size: 32px;
    margin-bottom: 10px;

}

.section input{
width: 350px;
height: 60px;
border-radius: 8px;
padding: 20px;
}

.btn-entrada {
background-color: green;
width: 150px;
height: 40px;
font-weight: bold;
display: flex;
margin-top: 10px;
margin-left: 200px;
color: white;
border-radius: 5px;
justify-content: center;
align-items: center;
cursor: pointer;

}

.section-saída h2{
    color: black;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 40px;

}


.section-saída input{
width: 350px;
height: 60px;
border-radius: 8px;
padding: 20px;
}

.btn-saída{
background-color: green;
width: 150px;
height: 40px;
font-weight: bold;
display: flex;
margin-top: 10px;
margin-left: 200px;
color: white;
border-radius: 5px;
justify-content: center;
align-items: center;
cursor: pointer;

}
 
.btn-saída hover {
  background: #086528;
}